*{
    margin: 0;
    padding: 0;
}
.header-block{
    background:url(img.jpg) ;
background-size: 100%;
    height: 550px;
    backdrop-filter: brightness(50%);
    max-width: 1600px;
    display: block;
}